<button onclick="window.location.href='../../my/index.php'" class="btn btn-primary" id="activityrecord_btm">{{btm}}</button>
<h2 class='text-center'><b>{{fullname}} {{title}}</b></h2>
<h2 class='text-center'><b>{{coursename}}</b></h2>
<div>
    <h3>{{records_txt}}</h3>
    <ol>
        {{#records}}
            <li class='d-flex mb-2'>
                <h4 class='mr-1'>{{0}}</h4>
                <button class='btn btn-primary mr-1 mb-1' onclick="getrecord({{1}})">{{edit}}</button>
                <button class='btn btn-primary mr-1 mb-1' onclick="window.open('./classes/pdf/learn_arpdf.php?id={{1}}', '_blank');window.open('./classes/pdf/learn_employercomment_pdf.php?id={{1}}', '_blank');">{{pdf}}</button>
            </li>
        {{/records}}
    </ol>
    <h2 style="display:none;" class="text-error" id="edit_error"></h2>
<div>
<div id="activityrecord_content_div" style="display: none;">
    <h2 class='text-center' id="activityrecord_title">{{edit_ar}}</h2>
    <form action="" id="activityrecord_form">
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{apprentice}}*</th>
                    <th class='text-center'>{{review_date}}*</th>
                    <th class='text-center'>{{standard}}*</th>
                    <th class='text-center'>{{employer_os}}*</th>
                    <th class='text-center'>{{coach}}*</th>
                    <th class='text-center'>{{manager_om}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class='w-100' type='text' id="apprentice" disabled></td>
                    <td><input class='w-100' type='date' id="reviewdate" disabled></td>
                    <td><input class='w-100' type='text' id="standard" disabled></td>
                    <td><input class='w-100' type='text' id="eors" disabled></td>
                    <td><input class='w-100' type='text' id="coach" disabled></td>
                    <td><input class='w-100' type='text' id="morm" disabled></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th colspan='6' class='text-center'>{{summary_op}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{course_ptd}}*</th>
                    <td><input class='w-100' type='number' id="coursep" step='1' disabled></td>
                    <th>{{course_eptd}}*</th>
                    <td><input class='w-100' type='number' id="courseep" step='1' disabled></td>
                    <th>{{comments}}*</th>
                    <td class='w-50'><textarea class='w-100' id="coursecomment" disabled></textarea></td>
                </tr>
                <tr>
                    <th>{{otjh_c}}*</th>
                    <td><input class='w-100' type='number' id="otjhc" step='1' disabled></td>
                    <th>{{expected_otjh_aptp}}*</th>
                    <td><input class='w-100' type='number' id="otjhe" step='1' disabled></td>
                    <th>{{comments}}*</th>
                    <td class='w-50'><textarea class='w-100' id="otjhcomment" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{safeguarding}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td_safeguard"><textarea class='w-100' id="safeguard" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{health_as}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td_hands"><textarea class='w-100' id="hands" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{equality_ad}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td_eandd"><textarea class='w-100' id="eandd" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{information_aag}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td_iaag"><textarea class='w-100' id='iaag' disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{recap_act_title}}</th>
                    <th class='text-center'>{{what_impact_title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='w-50'><textarea class='w-100' id="recap" disabled></textarea></td>
                    <td class='w-50'><textarea class='w-100' id="recapimpact" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{details_ot_title}}*</th>
                    <th class='text-center'>{{modules_aksb}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='w-75'><textarea class='w-100' id="details" disabled></textarea></td>
                    <td class='w-25'><textarea class='w-100' id="detailsmod" disabled></textarea></td>                
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{what_impactw_title}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class='w-100' id="impact" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover' id="func_div" style='display: none;'>
            <thead>
                <tr>
                    <th colspan='3' class='text-center'>{{functional_sp}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th class='text-center' id="func_title0" style='display:none;'>{{learning_t}}*</th>
                    <th class='text-center' id="func_title1" style='display:none;'>{{target_fnv}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class='text-center d-flex' id="math_title"></th>
                    <td id="td_mathtoday"><textarea class='w-100' id="mathtoday" style='display:none;' disabled></textarea></td>
                    <td id="td_mathnext"><textarea class='w-100' id="mathnext" style='display:none;' disabled></textarea></td>
                </tr>
                <tr>
                    <th class='text-center d-flex' id="eng_title"></th>
                    <td id="td_engtoday"><textarea class='w-100' id="engtoday" style='display:none;' disabled></textarea></td>
                    <td id="td_engnext"><textarea class='w-100' id="engnext" style='display:none;' disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{aln_title}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class='w-100' id="aln" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{agreed_act_title}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class='w-100' id="agreedact" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{coach_otf}}*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class='w-100' id="coachfeed" disabled></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <thead>
                <tr>
                    <th class='text-center'>{{apprentice_com_title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td_apprencom"><textarea class='w-100' id="apprencom" required></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <tr>
                <th class='w-25'>{{employer_cop}}*</th>
                <td class='w-75'>
                    <h4>{{choose_apdf}}</h4>
                    <input type='file' name='file' class='w-100' id="file" disabled>
                    <iframe id="filesrc" src="" style="height:450px;" class='w-100' style="display:none;"></iframe>
                </td>
            </tr>
        </table>
        <table class='table table-bordered table-striped table-hover'>
            <tr>
                <th class='w-25'>{{date_at_title}}</th>
                <td id="td_nextdate">
                    <input type="datetime-local" id="nextdate" disabled>
                </td>
            </tr>
            <tr>
                <th class='w-25'>{{remote_ftf}}</th>
                <td id="td_remotef2f">
                    <select id="remotef2f" disabled>
                        <option id="remotef2f_default" value="" selected disabled>{{remote_ftf}}</option>
                        <option id="remotef2f_f2f" value="f2f">{{face_tf}}</option>
                        <option id="remotef2f_remote" value="remote">{{remote}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class='d-flex' id="ar_sign_div">
            <div class="mr-1">
                <p>{{learner_s}}</p>
                <button class='btn btn-primary mb-2' type='button' id="learn_signed_btn">{{add_s}}</button>
                <img width="250px" height="100px" id="learnsignimg" style="display:none;">
                <p id="td_learnsigndate"><input type='date' name='learnsigndate' id="learnsigndate" style="display:none;"></p>
            </div>
            <div>
                <p>{{coach_s}}</p>
                <img width="250px" height="100px" id="coachsignimg" style="display:none;">
                <p><input type='date' name='coachsigndate' id="coachsigndate" style="display:none;" disabled></p>
            </div>
        </div>
        <h2 style="display:none;" class="text-error" id="ar_error"></h2>
        <button class='w-100 btn btn-primary' type="submit">{{submit}}</button>
    </form>
    <script src='./amd/min/learn_editrecord.min.js' defer></script>
    <script src='./amd/min/learnsign.min.js' defer></script>
</div>
<script src='./amd/min/learn_getrecord.min.js' defer></script>